extends layout

block content
  h1 Lead
  p 

  span  #{leads.email}
  |
  a(href=leads.id+"/edit") Edit 
  |
  form(action="/leads/" + leads.id + "/delete" method="POST") 
    button(type="submit") Delete